{
  "presets": [
    "next/babel"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "react-remove-properties",
          {
            "properties": [
              "data-testid"
            ]
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}