/* |----------------------------------------------------------- */
/* | Footer. */
/* |----------------------------------------------------------- */

/* |-------------------------------------------------- */
/* | Variables. */
/* |-------------------------------------------------- */

/* |-------------------------------------------------- */
/* | Styling. */
/* |-------------------------------------------------- */

.footer {}
.footer__row {}
.footer__row--top {
    padding: 50px 0;

    background-color: var(--body-bg--secondary__color);

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
    }
}
.footer__row--bottom {
    padding: 20px 0;
}

/* |-------------------------------------------------- */
/* | Variants. */
/* |-------------------------------------------------- */

/* |-------------------------------------------------- */
/* | Responsive. */
/* |-------------------------------------------------- */

/* Mobile - and up. */
@media (--viewport--xs__min) {}

/* Mobile - only. */
@media (--viewport--xs__only) {}

/* Tablet - and up. */
@media (--viewport--sm__min) {}

/* Tablet - only. */
@media (--viewport--sm__only) {}

/* Desktop - and up. */
@media (--viewport--md__min) {

    .footer__row--top {
        padding: 80px 0;
    }
}

/* Desktop - only. */
@media (--viewport--md__only) {}

/* Large desktop - and up. */
@media (--viewport--lg__min) {}

/* Large desktop - only. */
@media (--viewport--lg__only) {}

/* X Large desktop - and up. */
@media (--viewport--xl__min) {}

/* Print. */
@media print {}

/* Touch. */
.touchevents {}

/* No touch. */
.no-touchevents {}
