/* |----------------------------------------------------------- */
/* | Social icon */
/* |----------------------------------------------------------- */

/* |-------------------------------------------------- */
/* | Variables. */
/* |-------------------------------------------------- */

/* |-------------------------------------------------- */
/* | Styling. */
/* |-------------------------------------------------- */

.social-icon-list {
    display: flex;
}
.social-icon {
    display: flex;

    height: 32px;
    width: 32px;

    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: var(--body-bg--tertiary__color);

    transition: all ease-in-out var(--transition__time);

    + .social-icon {
        margin-left: 5px;
    }

    svg {
        height: 16px;
        width: 16px;
    }

    &:hover {
        color: #fff;
        background-color: var(--color--primary);
    }
}

/* |-------------------------------------------------- */
/* | Variants. */
/* |-------------------------------------------------- */

/* |-------------------------------------------------- */
/* | Responsive. */
/* |-------------------------------------------------- */

/* Mobile - and up. */
@media (--viewport--xs__min) {}

/* Mobile - only. */
@media (--viewport--xs__only) {}

/* Tablet - and up. */
@media (--viewport--sm__min) {}

/* Tablet - only. */
@media (--viewport--sm__only) {}

/* Desktop - and up. */
@media (--viewport--md__min) {}

/* Desktop - only. */
@media (--viewport--md__only) {}

/* Large desktop - and up. */
@media (--viewport--lg__min) {}

/* Large desktop - only. */
@media (--viewport--lg__only) {}

/* X Large desktop - and up. */
@media (--viewport--xl__min) {}

/* Print. */
@media print {}

/* Touch. */
.touchevents {}

/* No touch. */
.no-touchevents {}
