/**
 * Typography.
 */
:root {
    --base__font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/**
 * Colors.
 */
:root {

    /* Background. */
    --body-bg--primary__color: #f5f5f5;
    --body-bg--secondary__color: #fff;
    --body-bg--tertiary__color: #999;

    /* Typography. */
    --heading__text-color: #2d3e52;
    --text-color: #838383;
    --link__text-color: var(--color--primary);
    --link--hover__text-color: color(var(--link__text-color) shade(10%));

    /* Brand. */
    --color--primary: #4FB6ED;
    --color--primary__light: #40cbf8;
    --color--primary__dark: #2d3e52;

    --color--secondary: #F3B945;
    --color--secondary__light: color(var(--color--secondary) tint(10%));
    --color--secondary__dark: color(var(--color--secondary) shade(10%));

    --color--tertiary: #d9d9d9;
    --color--tertiary__light: color(var(--color--tertiary) tint(10%));
    --color--tertiary__dark: color(var(--color--tertiary) shade(10%));
}

/*
 * Grid.
 */
:root {
    --gutter-width: 40px;
}
