/* |----------------------------------------------------------- */
/* | Form item. */
/* |----------------------------------------------------------- */

/* |-------------------------------------------------- */
/* | Variables. */
/* |-------------------------------------------------- */

/* |-------------------------------------------------- */
/* | Styling. */
/* |-------------------------------------------------- */

.form-item {

    label {
        display: block;

        margin-bottom: 5px;

        text-transform: uppercase;
        font-size: var(--base--small__font-size);
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;

        box-sizing: border-box;

        padding: var(--spacing--base__y) var(--spacing--base__x);

        border: 1px solid var(--body-bg--primary__color);
        background-color: var(--body-bg--primary__color);

        transition: all var(--transition__time) ease-in-out;

        &:focus {
            outline: 0;
            border-color: var(--color--primary);
        }

        &::placeholder {
            color: color(var(--text-color) tint(30%));
        }
    }
}

.form-items-inline {
    display: flex;
    
    align-items: flex-end;

    .form-item {
        flex-grow: 1;
    }
}

/* |-------------------------------------------------- */
/* | Variants. */
/* |-------------------------------------------------- */

.form-item--text {}
.form-item--textarea {}

/* |-------------------------------------------------- */
/* | Responsive. */
/* |-------------------------------------------------- */

/* Mobile - and up. */
@media (--viewport--xs__min) {}

/* Mobile - only. */
@media (--viewport--xs__only) {}

/* Tablet - and up. */
@media (--viewport--sm__min) {}

/* Tablet - only. */
@media (--viewport--sm__only) {}

/* Desktop - and up. */
@media (--viewport--md__min) {}

/* Desktop - only. */
@media (--viewport--md__only) {}

/* Large desktop - and up. */
@media (--viewport--lg__min) {}

/* Large desktop - only. */
@media (--viewport--lg__only) {}

/* X Large desktop - and up. */
@media (--viewport--xl__min) {}

/* Print. */
@media print {}

/* Touch. */
.touchevents {}

/* No touch. */
.no-touchevents {}
