/* |----------------------------------------------------------- */
/* | Box. */
/* |----------------------------------------------------------- */

/* |-------------------------------------------------- */
/* | Variables. */
/* |-------------------------------------------------- */

/* |-------------------------------------------------- */
/* | Styling. */
/* |-------------------------------------------------- */

.box {
    padding: calc(var(--gutter-width) / 2);

    background-color: var(--body-bg--secondary__color);
}

.box__heading {

    + .box__content {
        margin-top: calc(var(--gutter-width) / 2);
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

.box__content {}

/* |-------------------------------------------------- */
/* | Variants. */
/* |-------------------------------------------------- */

/* |-------------------------------------------------- */
/* | Responsive. */
/* |-------------------------------------------------- */

/* Mobile - and up. */
@media (--viewport--xs__min) {}

/* Mobile - only. */
@media (--viewport--xs__only) {}

/* Tablet - and up. */
@media (--viewport--sm__min) {}

/* Tablet - only. */
@media (--viewport--sm__only) {}

/* Desktop - and up. */
@media (--viewport--md__min) {}

/* Desktop - only. */
@media (--viewport--md__only) {}

/* Large desktop - and up. */
@media (--viewport--lg__min) {}

/* Large desktop - only. */
@media (--viewport--lg__only) {}

/* X Large desktop - and up. */
@media (--viewport--xl__min) {}

/* Print. */
@media print {}

/* Touch. */
.touchevents {}

/* No touch. */
.no-touchevents {}
